@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f0f0f;
  --foreground: #0f0f0f;
  --color-primary: #0f766e;
  --color-secondary: #b4d0cb;
}

html, body {
  height: 100%;
}

body {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: var(--font-inter), system-ui, sans-serif;
  min-height: 100vh;
  background-attachment: fixed;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.animated-bg-off .radial-background,
body.animated-bg-off .content--canvas {
  display: none;
}

body.animated-bg-off {
  background-color: #0c0c0c; /* Or any color you prefer */
}

@layer base {
  html {
    font-family: var(--font-inter), system-ui, sans-serif;
  }
  :root {
    --radius: 0.5rem;
  }
}

.font-inter {
  font-family: var(--font-inter), system-ui, sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), var(--font-inter), system-ui, sans-serif;
}

.font-reenie {
  font-family: var(--font-reenie), var(--font-inter), system-ui, sans-serif;
}

.font-zen {
  font-family: var(--font-zen), var(--font-inter), system-ui, sans-serif;
}

.font-sloop {
  font-family: var(--font-sloop), var(--font-inter), system-ui, sans-serif;
}

.font-highrise-regular {
  font-family: var(--font-highrise-regular), var(--font-inter), system-ui, sans-serif;
}

.font-highrise-bold {
  font-family: var(--font-highrise-bold), var(--font-inter), system-ui, sans-serif;
}

.font-highrise-condensed {
  font-family: var(--font-highrise-condensed), var(--font-inter), system-ui, sans-serif;
}

.font-grand {
  font-family: var(--font-grand), var(--font-inter), system-ui, sans-serif;
}